<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
      <ul class="list">

         <li class="item">
                  <a class="link" href="{{ site.url }}/">Home</a>
              </li>
              <li class="item">
                      <a class="link" href="{{ site.url }}/about">About</a>
                  </li>
                  <li class="item">
                      <a class="link" href="http://barisekim.me/assets/baris_cv.pdf">CV</a>
                  </li>
                  <li class="item">
                      <a class="link" href="https://www.dropbox.com/sh/0vy0no62k0rorbs/AABqnCh_HEtTIcMWMKqRhDJTa?dl=0">Projects</a>
                  </li>
                  
      </ul>
  </nav>
