<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
      <ul class="list">

         <li class="item">
                  <a class="link" href="{{ site.url }}/">Home</a>
              </li>
              <li class="item">
                      <a class="link" href="{{ site.url }}/about">About</a>
                  </li>
                  <li class="item">
                      <a class="link" href="http://izgebayyurt.github.io/assets/Curriculum Vitae.pdf">CV</a>
                  </li>
                  <li class="item">
                      <a class="link" href="https://www.dropbox.com/sh/mdre4eksccb5ffc/AADJf4IoSxCdf1MHYK_SKCTra?dl=0">Notes</a>
                  </li>
            <li>
                  <a class="link" href="{{ site.url }}/photos">Photos</a>
            </li>
      </ul>
  </nav>
