<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
      <ul class="list">

         <li class="item">
                  <a class="link" href="{{ site.url }}/">Home</a>
              </li>
              <li class="item">
                      <a class="link" href="{{ site.url }}/about">About</a>
                  </li>
                  <li class="item">
                      <a class="link" href="http://izgebayyurt.github.io/assets/Curriculum Vitae.pdf">CV</a>
                  </li>
                  <li class="item">
                      <a class="link" href="https://www.dropbox.com/sh/y5wl82e7y48oynv/AAAflzsguGKwMU_8DuV6AK9sa?dl=0">Notes</a>
                  </li>
                   <li class="item">
                      <a class="link" href="{{ site.url }}/photography">Photography</a>
                  </li>
      </ul>
  </nav>
